:root {
    --colorBlack: #000;
    --colorWhite: #fff;
    --colorWall: #00ffffff;
    --colorPac-man: #fbff00;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--colorBlack);
}

.pac-man {
    width: 150px;
    height: 150px;
    background-color: var(--colorPac-man);
    border-radius: 50%;
    position: absolute;
    animation:  comex 500ms linear infinite;
    
}



.eyes {
    width: 15px;
    height: 15px;
    background-color: var(--colorBlack);
    position: absolute;
    border-radius: 50%;
    top: 35px;
    right: 45px;
}
.eyes:after {
    content: '';
    position: absolute;
    left: 0;
    top: 1px;
    border-left: solid 5px var(--colorWhite);
    border-bottom: solid 4px transparent;
    border-top: solid 4px transparent;

}

.mouth {
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    border-right: solid 90px var(--colorBlack);
    border-bottom: solid 45px transparent;
    border-top: solid 45px transparent;
    position: absolute;
    animation: open_close 0.4s infinite;
    
}

.container .munch {
    margin: 0px -100px 0px 100px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: var(--colorPac-man);
    position: absolute;
    box-shadow: 40px 0 0 var(--colorPac-man), 80px 0 0 var(--colorPac-man), 120px 0 0 var(--colorPac-man), 160px 0 0 var(--colorPac-man);
    animation: right_to_left 0.4s linear infinite;

}



@keyframes right_to_left {
    100% {
        margin-left:  15px;
    } 
}

@keyframes open_close {
    50% {
        border-bottom: 0 solid var(--colorPac-man);
        border-top: 0 solid var(--colorPac-man);
        
    }
}

@keyframes comex {
    50% {
        transform: rotate(-15deg);
        transform: rotate(5deg);
    }
}

